extends ../components/base/layout

block variables
  - const title = "Победители акции" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--winners"
  - const hasFooter = true
  - const footerMods = "footer--winners"
  - const currentUrl = "" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +hero-winners()
    +winners-table()

block modals
