mixin agreement(formClass= "", fieldClass = "")
  form.agreement(class=formClass, method="post", enctype="multipart/form-data", action="#", autocomplete="off")
    div(class=fieldClass)
      +custom-toggle({
        inputLabel: "Я согласен на",
        inputName: "user-agreement",
        inputValue: "true",
        inputChecked: false
      }).custom-toggle--radio.agreement__toggle
      a.link(href="#") участие в&nbsp;акции
    +btn({text: "Принять участие", type: "submit"}).agreement__submit(disabled)
