mixin hero()
  section.hero
    .container
      .hero__content
        h2
          | Чем дольше&nbsp;&mdash;
          | тем больше!
        p
          | Мы&nbsp;считаем каждый день вместе! Проверьте, сколько вы&nbsp;с&nbsp;&laquo;Пакетом&raquo;,
          | выигрывайте баллы &laquo;X5&nbsp;Клуба&raquo;
          | и&nbsp;ценные призы от&nbsp;Ситилинк.
      +agreement("hero__agreement")
