mixin participate()
  section.participate
    .container
      .participate__wrapper
        .participate__content
          h2
            | Участвовать просто
          p
            | Каждый пользователь &laquo;Пакета&raquo; может
            | принять участие в&nbsp;акции. Авторизуйтесь
            | в&nbsp;сервисе, узнайте свой уровень и&nbsp;следите
            | за&nbsp;регулярными розыгрышами: каждую
            | среду и&nbsp;раз в&nbsp;квартал.
        .participate__image
          +img("content/participate", "participate", "png", "634", "697", "Содержимое телефона участника розыгрыша.")
