mixin prize-draw()
  section.prize-draw
    .container
      h2
        | Разыгрываем каждую среду
      ul.prize-draw__list
        li.prize-draw__item
          h3
            | Меньше 3 месяцев
          ul.prize-draw__sub-list
            li.prize-draw__sub-item
              header.prize-draw__sub-header
                +icon("x5", 28, 24)
                span
                  | 300 призов
              h4
                | 3000 баллов «X5 Клуба»
              p
                | Меньше 3 месяцев


