mixin table(tableClass="")
  .table(class=tableClass)
    p
      span= "1 неделя"
      span= "02.08.23 — 09.08.23"
    table
      thead
        tr
          th Имя
          th Телефон
          th Приз
      tbody
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
        tr
          td Владислав
          td 7XXXXXX8473
          td Сертификат на покупки в «Пятёрочке»
