.agreement {
  & &__toggle {
    padding: 0;
    display: inline;
  }

  &__submit {
    margin-top: 14px;
    min-width: 327px;
    padding-left: 70px;
    padding-right: 70px;

    &:active {
      color: $color-default-white;

      &::after {
        transform: translateX(0);
      }
    }

    @include vp-1023 {
      min-width: unset;
      width: 100%;
      max-width: 340px;

      &.js-agreement-activated {
        color: $color-default-white;

        &::after {
          // По ТЗ должно быть 80% закрашено, но по PixelPerfect необходимо 92% закрасить.
          transform: translateX(-8%);
        }
      }
    }
  }
}
