.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: $dodger-blue;
  display: block;
  user-select: none;

  padding: 15px 30px;

  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  transition: all $trans-default;

  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    background-color: $hawkes-blue;
  }

  &::after {
    transform: translateX(-101%);
    background-image: linear-gradient(270deg, #363de8 0%, #359ff1 100%);
    border-radius: 13px 0 0 13px;
    transition: all $trans-default;
  }

  &--red {
    background-color: $nero;
  }

  &:disabled {
    background-color: $snow;
    color: $heather;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
    color: $color-default-white;

    &::after {
      transform: translateX(-10%);
    }

    &:active {
      opacity: 1;

      &::after {
        border-radius: 13px;
        transform: translateX(0);
      }
    }
  }
}
