.header {
  padding-top: 53px;
  position: relative;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @include vp-1023 {
    padding-top: 10px;
  }

  // Декоративный фон.
  &__background,
  &__desktop-gradient,
  &__ellipse,
  &__background-image {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__background {
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__desktop-gradient {
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 900px;

    @include vp-1023 {
      display: none;
    }
  }

  &__ellipse {
    top: -156px;
    right: -98px;

    // Анимация при первой загрузки страницы
    transition: all $trans-default;
    transform: scale(0.9);

    &.js-ellipse {
      transform: scale(1);
    }

    img {
      width: 998px;
      height: 978px;
    }

    @include vp-1279 {
      top: -120px;
      right: -60px;

      img {
        width: 65vw;
        height: unset;
      }
    }

    @include vp-1023 {
      top: 0;
      right: 50%;
      transform: translateX(50%);

      //Убираю анимацию при первой загрузки страницы
      &.js-ellipse {
        transform: translateX(50%);
      }

      img {
        width: 100%;
        height: 590px;
      }

      position: relative;

      // Защита от ошибки загрузки градиента
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: 412px;
        z-index: -1;
        background-color: $summer-sky;
        box-shadow: 0 0 70px 82px $summer-sky;
      }
    }

    @include vp-767 {
      img {
        height: 480px;
      }

      &::before {
        height: 300px;
      }
    }
  }

  &__background-image {
    top: 1px;
    right: 121px;
    width: 654px;
    height: 648px;

    // Анимация при первой загрузки страницы
    transition: all $trans-default;
    transform: translate(55px, -25px);
    opacity: 0;

    &.js-image {
      transform: translate(0, 0);
      opacity: 1;
    }

    @include vp-1279 {
      width: 40%;
    }

    @include vp-1023 {
      width: 496px;
      top: 92px;
      right: 50%;
      transform: translateX(50%) scale(0);

      //Заменяю анимацию при первой загрузки страницы
      &.js-image {
        transform: translateX(50%) scale(1);
      }
    }

    @include vp-767 {
      width: 385px;
      right: 50%;
      top: 134px;
      transform: translateX(calc(50% - 16px)) scale(0);

      //Заменяю анимацию при первой загрузки страницы
      &.js-image {
        transform: translateX(calc(50% - 16px)) scale(1);
      }
    }

    @include vp-374 {
      width: 300px;
      transform: translateX(calc(50% - 16px)) scale(1);

      //Заменяю анимацию при первой загрузки страницы
      &.js-image {
        transform: translateX(calc(50% - 16px)) scale(1);
      }
    }
  }

  .container {
    display: flex;
  }

  &__logo {
    transition: opacity $trans-default;

    @include vp-1023 {
      margin: 0 auto;
    }

    img {
      width: 165px;
      height: 49px;

      @include vp-1023 {
        // Красит картинку на планшете в белый цвет.
        filter: brightness(0) invert(1);
        width: 119px;
        height: 40px;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &--winners {
    .header__ellipse {
      top: -156px;
      right: -146px;

      @include vp-1023 {
        top: 0;
        right: 50%;
      }
    }

    .header__background-image {
      top: 1px;
      right: 96px;

      @include vp-1023 {
        top: 134px;
        right: 50%;
      }
    }
  }
}
