.header {
  margin-top: 53px;

  .container {
    display: flex;
  }

  &__logo {
    margin-left: 125px;
    transition: opacity $trans-default;

    img {
      width: 165px;
      height: 49px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
