.hero {
  margin-top: 40px;
  margin-bottom: 40px;

  @include vp-1023 {
    margin-top: 29px;
  }

  &__content {
    max-width: 450px;

    h2 {
      font-size: 64px;
      font-weight: 700;
      line-height: 70px;
      letter-spacing: -0.02em;
      color: $dodger-blue;
      margin: 0;

      @include vp-1023 {
        font-size: 48px;
        line-height: 100%;
        color: $color-default-white;
        min-height: 393px;
      }
    }

    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.01em;
      color: $nero;
      margin: 40px 0 0;

      @include vp-1023 {
        font-size: 18px;
        line-height: 135%;
        letter-spacing: -0.02em;
      }
    }
  }

  &__form {
    margin-top: 39px;

    @include vp-1023 {
      margin-top: 22px;
    }
  }

  & &__toggle {
    padding: 0;
    display: inline;
  }

  &__submit {
    display: block;
    margin-top: 14px;
    min-width: 327px;
  }
}
