.hero {
  margin-top: 40px;
  position: relative;
  z-index: 1;

  @include vp-1023 {
    margin-top: 29px;
  }

  &__content {
    max-width: 450px;

    @include vp-1023 {
      margin: 0 auto;
      max-width: 788px;
    }

    h1,
    h2 {
      font-size: 64px;
      font-weight: 700;
      line-height: 70px;
      letter-spacing: -0.02em;
      color: $dodger-blue;
      margin: 0;
      word-break: break-word;

      @include vp-1279 {
        font-size: 40px;
        line-height: 42px;
      }

      @include vp-1023 {
        font-size: 48px;
        line-height: 100%;
        color: $color-default-white;
        overflow-y: auto;
        height: 472px;
        text-align: center;
      }

      @include vp-767 {
        height: 412px;
      }

      @include vp-424 {
        text-align: left;
        margin: 0 auto;
      }

      @include vp-374 {
        font-size: 32px;
        line-height: 36px;
        max-width: 250px;
        height: 348px;
        text-align: center;
      }
    }

    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.01em;
      color: $nero;
      margin: 40px 0 0;

      @include vp-1279 {
        margin-top: 20px;
        font-size: 18px;
        line-height: 135%;
        letter-spacing: -0.02em;
      }

      @include vp-1023 {
        text-align: center;
      }

      @include vp-424 {
        text-align: left;
      }
    }
  }

  &__agreement {
    margin-top: 39px;

    @include vp-1023 {
      margin: 22px auto 0;
      max-width: 327px;
    }
  }

  // Winners page.

  &__search {
    margin-top: 45px;
  }
}
