.link {
  font-size: 18px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: $dodger-blue;

  transition: all $trans-default;

  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;

  @include hover-focus {
    color: $summer-sky;

    &:active {
      color: $navy-blue;
    }
  }

  &--secondary {
    color: $fiord;

    text-underline-offset: 1px;

    @include hover-focus {
      color: $nobel;

      &:active {
        color: $nero;
      }
    }

    @include vp-767 {
      text-decoration: none;
    }
  }
}
