//- Необходимо добавить цвета в prize-draw.pug для: titleColor, backgroundColor, spanColor.
//- Можно найти по ключевым словам.

.prize-draw {
  margin-top: 80px;
  word-break: break-word;

  @include vp-767 {
    margin-top: 22px;
  }

  .container {
    @include vp-424 {
      padding: 0;
    }
  }

  &--september {
    margin-top: 50px;

    @include vp-767 {
      margin-top: 18px;
    }
  }

  h2,
  h3,
  span,
  h4,
  p {
    letter-spacing: -0.02em;
  }

  h2,
  h3,
  span,
  h4 {
    font-weight: 700;
  }

  h2,
  h4,
  p {
    color: $nero;
  }

  h2 {
    font-size: 48px;
    line-height: 100%;
    margin: 0;

    @include vp-1023 {
      font-size: 40px;
    }

    @include vp-767 {
      font-size: 32px;
    }

    @include vp-424 {
      line-height: 120%;
      margin: 0 24px;
    }
  }

  // Reset списков.
  &__list,
  &__sub-list {
    word-break: break-word;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    margin-top: 35px;
    gap: 39px;

    @include vp-767 {
      margin-top: 19px;
      gap: 8px;
    }
  }

  &__item {
    padding: 32px 32px 32px 30px;
    background-color: $color-default-white;
    border-radius: 40px;

    @include vp-1023 {
      background-image: linear-gradient(153deg, $alice-blue 0%, $color-default-white 100%);
    }

    @include vp-767 {
      padding: 22px;
    }

    @include vp-424 {
      width: 100%;
      border-radius: 20px;
      padding: 13px 24px;
    }

    h3 {
      font-size: 32px;
      line-height: 120%;
      margin: 0;
      max-width: 159px;

      @include vp-1023 {
        font-size: 26px;
      }

      @include vp-767 {
        font-size: 24px;
      }

      @include vp-424 {
        max-width: unset;
      }
    }
  }

  // Цвета для главного заголовка карточки titleColor.

  $title-colors: (
    viking: $viking,
    picton-blue: $picton-blue,
    cornflower-blue: $cornflower-blue
  );

  @each $color-name, $color-value in $title-colors {
    &__item--title-#{$color-name} {
      h3 {
        color: $color-value;
      }
    }
  }

  &__sub-list {
    margin-top: 23px;
    gap: 30px;

    @include vp-767 {
      gap: 15px;
      margin-top: 15px;
    }
  }

  &__sub-item {
    padding: 10px 6px 15px 10px;
    width: 156px;
    min-height: 204px;
    border-radius: 12px;
    background-image: linear-gradient(163deg, $conifer 0%, $color-default-white 100%);
    position: relative;

    h4,
    p {
      position: relative;
      z-index: 1;
    }

    h4 {
      font-size: 16px;
      line-height: 126%;
      margin: 5px 0 0;
    }

    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      margin: 6px 0 0;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 156px;
      height: 204px;
    }
  }

  // Цвет фона для внутреннего элемента карточки backgroundColor.

  $background-colors: (
    conifer: $conifer,
    pale-turquoise: $pale-turquoise,
    mint-tulip: $mint-tulip,
    fog: $fog,
    columbia-blue: $columbia-blue,
    classic-rose: $classic-rose,
    lavender-blue: $lavender-blue,
  );

  @each $color-name, $color-value in $background-colors {
    &__sub-item--bc-#{$color-name} {
      background-image: linear-gradient(163deg, $color-value 0%, $color-default-white 100%);
    }
  }

  &__sub-header {
    position: relative;
    z-index: 1;

    svg:first-child {
      border-radius: 4px;
      background-color: $color-default-white;
    }

    &--short-icon {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 9px;

      span {
        font-size: 16px;
        font-weight: 700;
        line-height: 126%;
      }
    }

    &--long-icon {
      svg:first-child {
        display: block;
      }

      svg:last-child {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  // Цвет текста для подзаголовка карточки spanColor.

  $sub-title-colors: (
    limeade: $limeade,
    pelorous: $pelorous,
    picton-blue-2: $picton-blue-2,
  );

  @each $color-name, $color-value in $sub-title-colors {
    &__sub-header--span-color-#{$color-name} {
      span {
        color: $color-value;
      }
    }
  }
}
