.prize-draw {
  h2, h3, span, h4, p {
    letter-spacing: -0.02em;
  }

  h2, h3, span, h4 {
    font-weight: 700;
  }

  h2, h4, p {
    color: $nero;
  }

  h2 {
    font-size: 48px;
    line-height: 100%;
    margin: 0;
  }

  // Reset списков.
  &__list, &__sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    margin-top: 40px;
    gap: 38px;
  }

  &__item {
    padding: 32px;
    background-color: $color-default-white;
    border-radius: 40px;

    h3 {
      font-size: 32px;
      line-height: 120%;
      margin: 0;
      max-width: 159px;
    }
  }

  // Цвета для главного заголовка карточки.

  $title-colors: (
    viking: $viking,
    picton-blue: $picton-blue,
    cornflower-blue: $cornflower-blue
  );

  @each $color-name, $color-value in $title-colors {
    &__item--title-#{$color-name} {
      h3 {
        color: $color-value;
      }
    }
  }

  &__sub-list {
    margin-top: 24px;
    gap: 30px;
  }

  &__sub-item {
    padding: 15px 6px 15px 15px;
    width: 156px;
    min-height: 204px;
    border-radius: 12px;
    background-image: linear-gradient(163deg, $conifer 0%, $color-default-white 100%);
    position: relative;

    h4, p {
      position: relative;
      z-index: 1;
    }

    h4 {
      font-size: 16px;
      line-height: 126%;
      margin: 0;
    }

    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  // Цвет фона для внутреннего элемента карточки.

  $background-colors: (
    conifer: $conifer,
    pale-turquoise: $pale-turquoise,
    mint-tulip: $mint-tulip
  );

  @each $color-name, $color-value in $background-colors {
    &__sub-item--bc-#{$color-name} {
      background-image: linear-gradient(163deg, $color-value 0%, $color-default-white 100%);
    }
  }

  &__sub-header {
    z-index: 1;
    position: relative;

    svg {
      border-radius: 4px;
      background-color: $color-default-white;
    }

    span {
      font-size: 16px;
      font-weight: 700;
      line-height: 126%;
    }
  }

  $sub-title-colors: (
    limeade: $limeade,
    pelorous: $pelorous,
  );

  @each $color-name, $color-value in $sub-title-colors {
    &__sub-header--span-color-#{$color-name} {
      span {
        color: $color-value;
      }
    }
  }
}
