.winners {
  margin-top: 50px;
  word-break: break-word;

  @include vp-1023 {
    margin-top: 17px;
  }

  .container {
    @include vp-767 {
      padding: 0;
    }
  }

  &__agreement {
    width: 328px;
    margin: 0 auto;
  }

  &__field {
    width: 285px;
    margin: 0 auto;

    // подгонка к pixelperfect
    transform: translateX(-2px);

    @include vp-424 {
      margin: 0 0 0 2px;
    }
  }

  &__content {
    margin-top: 32px;
    border-radius: 40px;
    background-color: $color-default-white;
    padding: 60px 40px 70px 38px;
    position: relative;
    overflow: hidden;

    @include vp-1023 {
      margin-top: 100px;
      overflow: visible;
      border-radius: 0;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 47px;
      background-color: transparent;
    }

    @include vp-424 {
      padding-top: 50px;
      margin-top: 99px;
    }
  }

  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: $nero;
    margin: 0;
    max-width: 417px;
    z-index: 1;
    position: relative;


    @include vp-1023 {
      font-size: 40px;
      color: $color-default-white;
      margin: 0 auto;
      text-align: center;
      max-width: 560px;
    }

    @include vp-767 {
      font-size: 30px;
    }

    @include vp-424 {
      font-size: 24px;
    }
  }

  &__button {
    display: block;
    z-index: 1;
    max-width: 327px;
    margin-top: 40px;
    text-align: center;

    @include vp-1023 {
      margin: 30px auto 0;

      &::before {
        background-color: $color-default-white;
      }
    }

    @include vp-424 {
      margin-top: 22px;
    }
  }

  &__gradient {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;

    @include vp-1023 {
      width: 100%;
      z-index: -1;
    }

    @include vp-767 {
      min-height: 257px;
    }

    @include vp-424 {
      border-radius: 20px 20px 0 0;
    }

    img {
      width: 633px;
      height: 100%;

      @include vp-1023 {
        width: 100%;
      }
    }
  }

  &__cup {
    position: absolute;
    top: 18px;
    right: 96px;

    @include vp-1023 {
      top: -64px;
      right: 50%;
      transform: translateX(50%);
      width: 89px;
      height: 97px;
    }

    @include vp-424 {
      top: -66px;
    }

    img {
      width: 357px;
      height: 280px;

      @include vp-1023 {
        width: 89px;
        height: 97px;
      }
    }
  }

  // Стили для страницы с победителями
  &--table {
    margin-top: 83px;

    // Для наложения поверх декоративной картинки в header
    // и исправления выпадающего меню.
    position: relative;
    z-index: 2;

    @include vp-1023 {
      margin-top: 32px;
    }

    h2 {
      max-width: unset;

      @include vp-1023 {
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: $nero;
        max-width: 560px;
      }
    }

    .winners__buttons {
      margin-top: 35px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;

      @include vp-1023 {
        margin-top: 30px;
        display: block;
      }
    }

    .winners__button {
      font-size: 32px;
      line-height: 120%;
      letter-spacing: -0.02em;
      margin-top: 0;
      max-width: unset;
      padding: 32px;
      border-radius: 20px;

      @include vp-1023 {
        font-size: 18px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.02em;
        padding: 15px 30px;
        width: 325px;
        border-radius: 12px;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      @include vp-374 {
        width: 300px;
      }
    }

    .winners__select {
      margin: 50px auto 0;
      width: 416px;

      @include vp-1023 {
        width: 325px;
        margin-top: 30px;
      }

      @include vp-374 {
        width: 300px;
      }
    }

    .winners__table {
      margin-top: 50px;

      @include vp-767 {
        margin-top: 28px;
      }
    }
  }
}
