-
  const prizeDrawSeptember = {
    animationTitleName: 'fadeInPrizeDrawTitleSeptember',
    animationItemsName: 'fadeScalePrizeDrawItemsSeptember',
    blockTitle: "Разыгрываем в&nbsp;сентябре",
    list: [
      {
        itemTitle: "От 3 до 6 месяцев",
        titleColor: "viking",
        subItems: [
          {
            backgroundColor: "classic-rose",
            subItemTitle: "Телевизоры 65”",
            description: "От 3 до 6<br>месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            spanColor: "",
            image: {
              src: "tv",
              width: "156",
              height: "140",
            }
          },
          {
            backgroundColor: "pale-turquoise",
            subItemTitle: "3000 баллов «X5&nbsp;Клуба»",
            description: "От 3 до 6 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            spanColor: "pelorous",
            image: {
              src: "offer-x5-2",
              width: "106",
              height: "102",
            }
          },
        ]
      },
      {
        itemTitle: "Больше 6&nbsp;месяцев",
        titleColor: "picton-blue",
        subItems: [
          {
            backgroundColor: "lavender-blue",
            subItemTitle: "Пылесосы",
            description: "Больше 6 месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            image: {
              src: "hoover",
              width: "156",
              height: "168",
            }
          },
          {
            backgroundColor: "columbia-blue",
            subItemTitle: "3000 баллов «X5&nbsp;Клуба»",
            description: "Больше 6 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            spanColor: "picton-blue-2",
            image: {
              src: "offer-x5-3",
              width: "106",
              height: "102",
            }
          },
        ]
      },
    ]
  }

mixin prize-draw-september()
  +prize-draw(prizeDrawSeptember, "prize-draw--september")
