// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";

  font-display: swap;
  src: url("../fonts/manrope-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Manrope";

  font-display: swap;
  src: url("../fonts/manrope-bold.woff2") format("woff2");
}
