-
  const links = {
    "Политика конфиденциальности": "#",
    "Пользовательское соглашение": "#",
    "Правила акции": "#"
  }

mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__content
        .footer__column.footer__column--copyright
          +icon("x5", 78, 72)
          .footer__copyright
            p
              | &copy;&nbsp;2021&ndash;2023
              br
              | ООО &laquo;Корпоративный центр ИКС&nbsp;5&raquo;
        .footer__column.footer__column--links
          .footer__links
            each linkHref, linkName in links
              +link({text: linkName, href: linkHref}).link--secondary.footer__link
