mixin header(headerMods, currentUrl)

  header.header(class=headerMods)
    .header__background
      .header__desktop-gradient
        img(src="img/svg/header-gradient-desktop.svg", width="1440", height="900", alt="")
      .header__ellipse
        picture
          source(type="image/svg+xml", media="(max-width: 1023px)", srcset="img/content/header/header-ellipse-mobile.png 1x, img/content/header/header-ellipse-mobile@2x.png 2x")
          img(src="img/svg/header-ellipse-desktop.svg", width="1042", height="1004", alt="")
      .header__background-image
        +img("content/header", "header-background", "png", 654, 648, "")
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          img(src="img/svg/logo.svg", width="165", height="49", alt="Логотип проекта Пакет X5.")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          img(src="img/svg/logo.svg", width="165", height="49", alt="Логотип проекта Пакет X5.")
